name: deploy

on:
  push:
    branches: ["main"]

env:
  REGISTRY: cachac
  IMAGE_NAME: rest_api

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: code checkout

      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push
        uses: docker/build-push-action@v3
        with: 
          push: true
          build-args: | 
            APP_ENV=${{ secrets.APP_ENV }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:latest

  test:
    name: Run tests
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run test
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm install
      - run: npm run test

      - name: Test succeded?
        if: ${{ success() }}
        run: echo "Test funcionó!!!"

      - name: Test failed?
        if: ${{ failure() }}
        run: |
          echo "Test falló, notifica por API"
